.newsletter{

    padding:80px 8%;
    background:#FF6B35;

}



.newsletter-content{

    text-align:center;
    max-width:700px;
    margin:auto;

}



.newsletter h2{

    color:white;
    font-size:40px;

}



.newsletter p{

    color:#FFF3ED;
    font-size:18px;
    margin:20px 0 35px;

}



.subscribe-box{

    display:flex;
    justify-content:center;
    background:white;
    padding:8px;
    border-radius:15px;
    max-width:500px;
    margin:auto;

}



.subscribe-box input{

    flex:1;
    border:none;
    outline:none;
    padding:15px;
    font-size:16px;

}



.subscribe-box button{

    background:#1F2937;
    color:white;
    border:none;
    padding:15px 25px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;

}