.category-card {
    width: 130px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
}

.category-card:hover {
    transform: translateY(-5px);
}

.emoji {
    font-size: 40px;
}

.category-card h3 {
    margin-top: 10px;
}